/* ================== Font ================*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
/*================== Reset ==================*/
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ================== Initials variables ==================*/
:root {
  --blue: #1778F2;
  --grey: #707070;
  --white: #fff;
  --bg-color: #ECECEC;
  --green: #08AB49;
  --black: #000;
} /* Body */
body {
  background-color: var(--bg-color);
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

/* ================== Header ==================*/
.header {
  height: 60px;
  width: 100%;
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  padding: 0 4%;
  align-items: center;
  justify-content: space-between;
}

/* Left */
.header .hd-left,
.header .hd-right {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header .hd-left .hd-title {
  font-weight: 600;
}

.hd-left .title-first-letter {
  display: inline-block;
  background-color: var(--white);
  padding: 3px 5px;
  color: var(--blue);
}

.hd-left .material-symbols-outlined {
  transform: translateY(5px);
  color: var(--white);
  margin: 0 1rem;
  opacity: 0.85;
  transition: all 0.2s;
}
.hd-left .material-symbols-outlined:hover, .hd-left .material-symbols-outlined.active {
  opacity: 1;
  font-weight: 600;
}

/* Right */
.hd-searchbar {
  display: flex;
  background: var(--bg-color);
  padding: 10px 1.9rem;
  border-radius: 50px;
  color: var(--grey);
}

.hd-searchbar .material-symbols-outlined {
  padding-right: 10px;
}

.hd-searchbar input {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

/* Profil */
.hd-profile-img {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
}

.hd-profile-img img {
  position: absolute;
  background-size: cover;
  width: 100%;
  border-radius: 50%;
}

.hd-profile-img .profile-active {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--white);
  background-color: var(--green);
  top: 0;
  right: 0;
}

/* ================== Main contennt ================== */
.main {
  display: grid;
  grid-template-columns: 300px auto 300px;
  padding: 10px 4%;
  gap: 1rem;
}
@media only screen and (max-width: 1100px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}

/* ======== SIDE LEFT ========*/
.side-left {
  height: 100vh;
  max-height: 100vh;
  color: #707070;
}

.side-left .item-activity {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 1em;
}

.side-left .more-activities {
  color: var(--blue);
  margin-bottom: 1em;
  font-weight: 400;
}

.side-left .material-symbols-outlined {
  color: var(--blue);
}

.side-left .title-shortcut {
  font-weight: 500;
  padding-top: 1.5em;
  padding-bottom: 1em;
  font-size: 1.2rem;
}

.side-left .shortcut-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}

.shortcut-img img {
  border-radius: 5px;
}

/* ======== CENTER CONTENT ========*/
.center-container .stories {
  display: flex;
  justify-content: center;
}

/* STORY */
.stories {
  margin-bottom: 1rem;
}

.stories .story-item {
  flex-basis: 100%;
  width: 116px;
  min-width: 100px;
  height: 171px;
  overflow: hidden;
  border-radius: 10px;
  margin: 6px;
  color: var(--white);
  position: relative;
}
.stories .story-item::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(217, 217, 217, 0) 29.86%, #000000 125.96%);
  width: 100%;
  height: 100%;
}

.story-item .story-big-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.story-name {
  position: absolute;
  bottom: 3%;
  left: 1.3em;
}

.story-plus-btn {
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-color: #1778f2;
  border-radius: 50%;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.story-small-img {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--blue);
  z-index: 30;
}

.story-small-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Center container main */
.publication {
  width: 100%;
  background-color: var(--white);
  margin-bottom: 1em;
  border-radius: 10px;
  padding: 1em 1.5em;
  color: var(--grey);
}

/* Pub header */
.publication .pub-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.pub-header .profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-info .profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.profile-detail {
  padding-left: 1em;
}

.profile-detail > * {
  display: block;
}

.profile-detail .name-profile {
  font-weight: 600;
  font-size: 1.1em;
}

.profile-detail .pub-date {
  font-size: 0.9em;
}

.pub-setting {
  cursor: pointer;
}

/* Pub body */
.pub-description {
  font-size: 0.98rem;
  line-height: 1.5em;
  margin-bottom: 2em;
}

.pub-description .pub-key-word {
  font-weight: 600;
}

.pub-description .external-link a {
  color: var(--blue);
}

.pub-body-img {
  height: 12em;
  overflow: hidden;
  border-radius: 8px;
}

.pub-body-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Pub footer */
.pub-footer {
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding: 1em 0;
}

.pub-icon-container {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  padding-right: 1.5em;
}

.footer-icon {
  padding-right: 0.7em;
}

.pub-icon-container:first-child .footer-icon {
  color: var(--blue);
}

/* ======== SIDE RIGHT ========*/
.side-right {
  background-color: var(--white);
  height: 100vh;
  border-radius: 10px;
  padding: 1.5rem 1rem;
  right: 0;
  top: 0;
}

/*# sourceMappingURL=style.css.map */
